<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UserLayoutHeadComponentPartial")

<body>
    <div class="container-scroller d-flex">

        @await Component.InvokeAsync("_UserLayoutSideBarComponentPartial")

        <div class="container-fluid page-body-wrapper">

            @await Component.InvokeAsync("_UserLayoutNavbarComponentPartial")

            @RenderBody()

        </div>

    </div>
    @await Component.InvokeAsync("_UserLayoutJavaScriptComponentPartial")
    

</body>

</html>